* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: url('back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.login-box {
    position: absolute;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    transform-origin: top left; 
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    color: #02c0e6;
    font-size: 12px;
}

.login-box .date input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom:20px ;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .date label{
    color:#fff;
}


.login-box .date input:focus + label,
.login-box .date input:valid + label {
    color: #02c0e6;
}

.login-box .insert {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    font-weight:550;
    color: #0b0b0b;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #03e9f4;
    transition: background 0.3s ease;
}

.login-box .insert:hover {
    background: #02c0e6;
}
