* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: white;
}

.title {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.table th, .table td {
    padding: 10px;
    text-align: center;
    color: white; 
    font-weight: 600;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center; 
}

.btn-group {
    display: flex;
    justify-content: center;
}

.btn-group form {
    margin-right: 15px;
}


.btn-group form:last-child {
    margin-right: 0;
}